<form [formGroup]='userdata'>
  <label>  
    Name:
    <input type="text" formControlName="name"><br>
  </label><br>
    Email:
    <input type='text' formControlName='Email' ><br>
    Password:
    <input type='Password' formControlName='Password'><br>
    Date:
    <input type='date' formControlName='date'><br>
    Phone number:
    <input type='phone2numeric' formControlName='phonenumber'><br>
    Landline number:
    <input type='pluralize' formControlName='landline_number'><br>
</form>
<form [formGroup]='userdata'>
  Gender:
``  <div class='form-check form-group'>
  <label for='male'>Male
  </label>
 
   <input type='radio' name='gender' formControlName='gender'  value='Male'  ><br>
  
    <label  for='female'>Female
  
 
  <input  type='radio' name='gender' formControlName='gender'  value='Female'>
  </label>
  </div>
  
  Contact by:
  <div >
  <label  for='contactby'>
  Phone number
  </label>
 
  <input type='checkbox'  formControlName='contactby' value='phonenumber' >
  </div>
  <div >
  <label for='contactby'>
  Mail
  </label>
  <input type='checkbox' name='contactby' formControlName='contactby' value='Mail' >
  </div>
 
</form> 
 <button
  type='submit' (click)='submit()'>submit</button>
