
<h1>     {{intro}}              </h1><br>
<router-outlet></router-outlet>




<nav>
    <a routerLink='/home'>home</a>
</nav>

<nav>
    <a routerLink='/login'>login</a><br>


<a routerLink='/comment'>comment</a>
</nav><br>
<nav>
    <a routerLink='/loginfroms'>loginfroms</a>
</nav>


<router-outlet></router-outlet>


<br><Button type='Button' name='Button' (click)="getinfomi1()">info1</Button>
<ul class=''>
    <li *ngFor ='let info1 of infoM1'>{{infoM1}}</li>
<br>
<Button type='Button' name='Button' (click)="getinfomi2()">info2</Button>
<ul class=''>
    <li>{{infoM2}}</li>
<br>
<Button type='Button' name='Button' (click)="getinfomi3()">info3</Button><br>
<ul class=''>
    <li *ngFor ='let info3 of infoM3'>{{infoM3}}</li>
